<div class="container">

<p>
  <strong>Capacity:</strong>
  <%= @auditorium.capacity %>
</p>

<%= link_to 'Edit', edit_auditorium_path(@auditorium) %> |
<%= link_to 'New', new_auditorium_path %> | 
<%= link_to 'All', auditoria_path %>

</div>