
<%= form_for @movies, url: orders_by_movie_path(movie), method: "post" do |f| %>
    <div class="form-group">
      <label>Movie:</label>
      <%= f.collection_select(:movie_id, @movies, :id, :title) %>
    </div>
    <%= f.button :submit %>
<% end %>