<h1><%= "Order History for #{@movie.title}" %></h1>

<div class="container">

<%= render 'filter', movie: @movie, orders: @orders, movies: @movies %>

<div class="container">
  <%= link_to 'Back', orders_path %>
</div>

</div>